
#p1 {
    text-align: center;
    background-image: url(https://i.pinimg.com/736x/41/12/6b/41126bab101c723bd80a01e4ff771e6f.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25%;
}
#p2{
    height: 300px;
    width: auto;
    border-radius: 10%;
}


.navbar {
    background: linear-gradient(#e3e3e3, #ffffff, #ffffff);
    border: solid gray 1px;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
}

.nav-item a {
    color: black;
    font-size: 18px;
}

.dropdown-menu a {
    color: grey;
}

.navbar-brand {
    color: grey;
}

.header-img{
    height: 6rem;
    width: 6rem;
}


.footer-clean {
    padding: 50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }


form{
    max-width: 700px;
    margin: 0 auto;
}

textarea{
    resize: none;
}
/* Form section style end*/

/* Skelbimu section style start */
.skelbimu_card{
  max-height: 500px;
}

.skelbimu_card .card-body{
  height: 135px;
}
/* Skelbimu section style end */

